# Experiment 1
Q1) Using Pandas library of Python, exhibit the process of data extraction and preparation. Exhibit the following operations.
i)Arrange a below mentioned data into a table ii) Divide the data set into two parts as 70 % for training and 30 % for testing. 
ii)data = {"country": ["Brazil", "Russia", "India", "China", "South Africa"], 
           "capital": ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"], 
           "area": [8.516, 17.10, 3.286, 9.597, 1.221], 
           "population": [200.4, 143.5, 1252, 1357, 52.98]}

In [2]:
import pandas as pd

In [3]:
data = {"country": ["Brazil", "Russia", "India", "China", "South Africa"], 
        "capital": ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"], 
        "area": [8.516, 17.10, 3.286, 9.597, 1.221], 
        "population": [200.4, 143.5, 1252, 1357, 52.98]}

In [4]:
print(data)

{'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'], 'capital': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'], 'area': [8.516, 17.1, 3.286, 9.597, 1.221], 'population': [200.4, 143.5, 1252, 1357, 52.98]}

In [5]:
dataset1 = pd.DataFrame(data,columns=["country","capital","area","population"])

In [7]:
dataset1

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [9]:
from sklearn.model_selection import train_test_split
train,test = train_test_split(dataset1,test_size=0.3)

In [10]:
train

  country    capital    area  population
3   China    Beijing   9.597      1357.0
1  Russia     Moscow  17.100       143.5
2   India  New Delhi   3.286      1252.0

In [11]:
test

        country   capital   area  population
4  South Africa  Pretoria  1.221       52.98
0        Brazil  Brasilia  8.516      200.40