### Considering appropriate dataset, use the Scikit-learn, ML Python libraries to fit a CART model to the data. Further summarize the fit of the model depicting a confusion matrix

In [2]:
import pandas as pd
df = pd.read_csv(r'C:\Users\tuf\Downloads\sunburn.csv')

In [6]:
df

   Name  HairColour    Height    Weight Sunscreen      Target
0  Sarah     blonde   average     light        no   sunburned
1   Dana     blonde      tall   average       yes        none
2   Alex      brown     short   average       yes        none
3  Annie     blonde     short   average        no   sunburned
4  Emily        red   average     heavy        no   sunburned
5   Pete      brown      tall     heavy        no        none
6   John      brown   average     heavy        no        none
7  Katie     blonde     short     light       yes        none

In [12]:
#Since the data is not encoded
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()
df.iloc[:,-1]=l.fit_transform(df.iloc[:,-1])
df.iloc[:,-2]=l.fit_transform(df.iloc[:,-2])
df.iloc[:,-3]=l.fit_transform(df.iloc[:,-3])
df.iloc[:,-4]=l.fit_transform(df.iloc[:,-4])
df.iloc[:,-5]=l.fit_transform(df.iloc[:,-5])
df.iloc[:,-6]=l.fit_transform(df.iloc[:,-6])
features=['HairColour','Height','Weight','Sunscreen']
df

   Name   HairColour  Height  Weight  Sunscreen  Target
0      7           0       0       2          0       1
1      2           0       2       0          1       0
2      0           1       1       0          1       0
3      1           0       1       0          0       1
4      3           2       0       1          0       1
5      6           1       2       1          0       0
6      4           1       0       1          0       0
7      5           0       1       2          1       0

In [17]:
X = df[features]
y = df['Target']
print(X)

   HairColour  Height  Weight  Sunscreen
0           0       0       2          0
1           0       2       0          1
2           1       1       0          1
3           0       1       0          0
4           2       0       1          0
5           1       2       1          0
6           1       0       1          0
7           0       1       2          1

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)
X_train

   HairColour  Height  Weight  Sunscreen
0           0       0       2          0
4           2       0       1          0
1           0       2       0          1
5           1       2       1          0
7           0       1       2          1

In [19]:
from sklearn import tree                                                                                                                                                                    
model = tree.DecisionTreeClassifier(criterion = 'entropy')                                                                                                   
model = model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [20]:
y_pred

array([1, 0, 0])

In [21]:
y_pred = model.predict(X_test)
y_pred

array([1, 0, 0])

In [22]:
from sklearn.metrics import confusion_matrix
confusion_matrix=confusion_matrix(y_pred,y_test)
print(confusion_matrix)

[[1 1]
 [1 0]]

In [23]:
from sklearn.metrics import accuracy_score

In [24]:
accuracy=accuracy_score(y_pred,y_test)*100

In [25]:
print(accuracy)

33.33333333333333

In [26]:
from sklearn import tree                                                                                                                                                                    
model = tree.DecisionTreeClassifier(criterion = 'gini')                                                                                                   
model = model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [27]:
y_pred = model.predict(X_test)
y_pred

array([1, 0, 0])

In [28]:
from sklearn.metrics import confusion_matrix
confusion_matrix=confusion_matrix(y_pred,y_test)
print(confusion_matrix)

[[1 1]
 [1 0]]

In [29]:
accuracy=accuracy_score(y_pred,y_test)*100
print(accuracy)

33.33333333333333

In [30]:
from sklearn.metrics import classification_report
cr=classification_report(y_pred,y_test)
print(cr)

              precision    recall  f1-score   support

           0       0.50      0.50      0.50         2
           1       0.00      0.00      0.00         1

    accuracy                           0.33         3
   macro avg       0.25      0.25      0.25         3
weighted avg       0.33      0.33      0.33         3